backend/serverless/lambda/authentication/node_modules
backend/serverless/lambda/authentication/.env
backend/serverless/lambda/notifications/venv
backend/serverless/lambda/notifications/.env
backend/serverless/lambda/notifications/myenv


simulation/instance/certificate.pem
simulation/instance/private.key
simulation/instance/.env

simulation/instance2/private.key
simulation/instance2/certificate.pem

simulation/docker-compose.yaml