backend/serverless/lambda/authentication/node_modules
backend/serverless/lambda/authentication/.env
backend/serverless/lambda/notifications/venv
backend/serverless/lambda/notifications/.env
backend/serverless/lambda/notifications/myenv


/home/bryan/averix/simulation/instance/aws-iot-device-sdk-python-v2/*
simulation/instance/certificate.pem
simulation/instance/private.key
simulation/instance/.env
