.louder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.louder-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #0d9488; /* Color teal-600 para coincidir con tu diseño */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
